.title{
    text-align: center;
    font-family: 'Lobster Two', sans-serif;
}

.term{
    border: solid 5px #000;
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 100px;
    
}

.definition{
    border: solid 5px #000;
    border-radius: 15px;
    text-align: center;
    width: 45%;
    margin: auto;
    margin-top: 100px;
    display: none;
}

.btn{
    text-align: center;
    margin-top: 100px;
}

button{
    color: #faf4f4;
    background-color: #1ade3b;
    padding: 20px;
    border-radius: 15px;

    
}
button:hover{
    transform: scale(1.1);
}