body {
    box-sizing: border-box;
    text-align: center;
    background-color: #009688;
    /*background-color: #0f172a or #e68a85;*/
}

h1 {
    /* Change the font or font size of the header here */
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
#flashcard {
    /* Customize the dimentions or colors of your flashcard */
    width: 600px;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 10px lightgrey;
    /*background-color: #ff6961;*/
    background-color: #ffffff;

    margin: 100px auto;
    margin-top: 1em;
    margin-bottom: 1em;

    color: #000000;
    font-size: 30px; /* font in display*/
    font-family: Arial, Helvetica, sans-serif;
}
button {
    /* Adjust the size, spacing, or color of the buttons */
    height: 3em;
    width: 200px;
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    /* This affect the color of the button when the mouse is hovering over it */
    background-color: #ADEFD1FF;
    cursor: pointer;
}

@media(max-width: 767px){
    h1{
        font-size: 40px;
    }
	#flashcard {
        width: 300px;
        height: 400px;
        font-size: 25px;
    }
    button {
        width: 100px;
        font-size: 18px;
    }
}