*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #80808080;
    font-family: 'Ubuntu', serif;
    font-size: 20px;
  }
  
 header, nav, main, div, section, footer {display: block;}
  
  .wrapper{
    width: 90%;
    margin-right: auto;
    margin-left: auto; 
    background-color: #fff;
  }
  header{
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5vw;
    padding-bottom: 2px;
  }


  /* Style the navigation menu */
/* img {
    float: left;
    margin-right: 10px;
} */

nav {
  text-align: center;
  background-color: #00a8f3;
  font-family: 'Ubuntu', serif;
  /* font-family: 'Courier New', Courier, monospace; */
  padding: 10px; 
}

nav ul { list-style-type: none; 
 
}

nav li { display: inline; 
}

nav a { 
  text-decoration: none; 
  color: #fff;
  font-weight: bold;
} 

/* Add a background color on mouse-over */
nav a:hover {
  background-color: #000;
}

/* Style the current/active link */
nav a.active {
  background-color: #B3C7E6;
}

.column{
    float: left;
    margin: 2px;
    text-align: center;
    /* border: 1px solid #ff832f; */
    width: 32.5%;
    padding-bottom: 1em;
    overflow: hidden;
  }

  main{
	padding-left: 2em;
	padding-right: 2em;
	display: block; 
	padding-top: 1em;
}
h1 {
  font-family: 'Ubuntu', serif;
  color:#00a8f3;
 }


h2 {
  font-family: 'Ubuntu', serif;
background-color:#00a8f3;
color:papayawhip;
} 

/* .col2{
  background-color: #c6dde7;
} */

p {
font-family: 'Ubuntu', serif;
color:rgb (56,0,0);
padding-bottom: 5px;
padding-top: 5px;
} 

#setmapsite{
  font-family: 'Ubuntu', serif;
  text-align: center;
  font-size: large;
}
#setmapsite a{
  text-decoration: none;
}

#setmapsite ul { list-style-type: none; }

footer{
	background-color: #00a8f3;
	font-size: small;
	font-style: italic;
  color: #fff;
	text-align: center;
	padding: 1em;}

  navbar{
    text-align: center;
    padding: 5px; 
  }

  navbar ul{list-style-type: none;}
  navbar li{ display: inline; }
  navbar a{text-decoration: none; color: #000; font-weight: bold;}
  navbar a:hover {
    background-color: #ff832f;
  }

 
  
  
  
 
  
 /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .col {
      width: 33.333%;
      border-top: 1px solid #00a8f3;
      border-bottom: 1px solid #00a8f3;
      height: 160px;
      padding: 10px 5px;
      float: left;
      text-align: center;
    }

    .col1, .col2, .col3{
      border-top: 1px solid #00a8f3;
      border-bottom: 1px solid #00a8f3;
      border-right: 1px solid #00a8f3;
      border-left: 1px solid #00a8f3;
    }
   }

 /* Large devices (desktops, 992px and up) */
 @media (min-width: 769px) and (max-width: 991px) { 
  .col {
    width: 33.333%;
    border-top: 1px solid #00a8f3;
    border-bottom: 1px solid #00a8f3;
    height: 160px;
    padding: 10px 5px;
    float: left;
    text-align: center;
  }


    .col1, .col2, .col3{
      border-top: 1px solid #00a8f3;
      border-bottom: 1px solid #00a8f3;
      border-right: 1px solid #00a8f3;
      border-left: 1px solid #00a8f3;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 768px){
  .wrapper{
    width: 80%;
    font-size: small;
    margin-right: auto;
    margin-left: auto; 
    background-color: #fff;
  }

  .column{
    width: 31%;    
    padding-bottom: 1em;
    overflow: hidden;
  } 

  .col1, .col2, .col3 {
    background-color: #fff;
    height: 160px;
    float: left;
    width: 33.333%;    
    padding-bottom: 1em;
    
  }

.col1, .col2, .col3{
  border-top: 1px solid #00a8f3;
  border-bottom: 1px solid #00a8f3;
  border-right: 1px solid #00a8f3;
  border-left: 1px solid #00a8f3;
}

 }

 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) {
  nav a {
    color: #fff; 
    padding: 5px;
    display: block;
  
   }

  .wrapper{
    width: 100%;
    font-size: small;
    margin-right: auto;
    margin-left: auto; 
    background-color: #fff;
  }

   .column{
    width: 100%;    
    padding-bottom: 1em;
    overflow: hidden;
  } 

  .col1, .col2, .col3{
    border-top: 1px solid #00a8f3;
    border-bottom: 1px solid #00a8f3;
   
  }

  .col1, .col2 {
    background-color: #fff;
    height: 160px;
    float: left;
    width: 50%;    
    padding-bottom: 1em;
    
  }

 }