
table { margin: auto;
    border: 1px solid #00a8f3;
    width: 85%; 
    border-spacing: 0;
}

td, th { padding: 0.5em;
     text-align: center;
     border-style: none;
     font-family: 'Ubuntu', serif; 
	 border: 1px solid #00a8f3;
}
caption { font-family: 'Ubuntu', serif;
      font-weight: bold;
      font-size: 1.2em;
      padding-bottom: 0.5em; 
}
tr:nth-of-type(even) { background-color: #eaeaea; }
tr:first-of-type { background-color: #fff;
       color: #000; }